/* CSS reset */
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  border: none;
  text-decoration: none;
  list-style: none;
  user-select: none;
}
/* scroll bar */
::-webkit-scrollbar {
  width: 5px;
  height: 5px;
}
::-webkit-scrollbar-track {
  background-color: transparent;
}
::-webkit-scrollbar-thumb {
  background-color: rgb(158, 158, 158);
  border-radius: 5px;
}
::-webkit-scrollbar-thumb:hover {
  background-color: rgb(187, 187, 187);
}
::-webkit-scrollbar-thumb:active {
  background-color: rgb(207, 207, 207);
}
body {
  font-family: "Dosis", sans-serif;
  background: rgb(1, 0, 18);
  background: -moz-linear-gradient(
    90deg,
    rgba(1, 0, 18, 1) 0%,
    rgba(71, 1, 150, 1) 52%,
    rgba(0, 109, 110, 1) 100%
);
  background: -webkit-linear-gradient(
    90deg,
    rgba(1, 0, 18, 1) 0%,
    rgba(71, 1, 150, 1) 52%,
    rgba(0, 109, 110, 1) 100%
  );
  background: linear-gradient(
    90deg,
    rgba(1, 0, 18, 1) 0%,
    rgba(71, 1, 150, 1) 52%,
    rgba(0, 109, 110, 1) 100%
  );
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#010012",endColorstr="#006d6e",GradientType=1);
}
textarea {
  outline-color: #3dff57 !important;
  font-family: "Dosis", sans-serif;
  font-size: 20px;
  font-weight: bold;
  border: solid 1px rgb(88, 125, 173);
  border-radius: 10px;
  padding: 10px;
  resize: none;
}
/* container */
.container {
  background-color: #efefef;
  width: fit-content;
  margin: 20px auto;
  padding: 20px;
  border-radius: 10px;
  box-shadow: rgb(0 0 0 / 20%) 0px 24px 50px -2px;
}
.counter-container {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
}
.counters {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.container h4 {
  width: 40px;
  height: 40px;
  background: #e1e1e1;
  border-radius: 50%;
  display: flex;
  align-content: center;
  justify-content: center;
  align-items: center;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  margin-top: 10px;
}
.animation-gif {
  display: flex;
  justify-content: center;
}
.app-container {
  display: flex;
  align-items: center;
  min-height: 100vh;
  justify-content: space-around;
}
/* media-queries */
@media (max-width: 654px) {
  .app-container {
    flex-direction: column;
  }
}
h1{
  color:rgb(174, 255, 243);
  padding:10px auto;
  margin: 10px auto;
  border-top-right-radius: 50px;
  border-top-left-radius:50px;
  border-bottom-right-radius: 20px;
  border-bottom-left-radius:20px;
  height:70px;
  width:400px;
  padding:20px auto;
  margin:20px auto;
  text-align:center;
  font-size:50px;
  box-shadow: 0 0 20px rgba(243, 29, 200, 0.509); 
  text-shadow: 5px 5px 5px rgba(5, 205, 202, 0.59); 
  letter-spacing: 2px; 
  font-weight: bold; 
  text-transform: uppercase; /
  
}